/* Customizing colors on Bootstrap Examples code */
:root {
    /* --primary-color: mediumseagreen; */
    --primary-color: #1BD742;
    /* --secondary-color: darkgreen; */
    --secondary-color: #18bb38;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
}

.nav-link:focus, .nav-link:hover {
    color: var(--secondary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.text-bg-primary {
    background-color: var(--primary-color)!important;
}

.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color)!important;
}

.text-body-colored {
    color: var(--primary-color);
}

.header-logo-img {
    margin-right: 5px;
    border-radius: 50px;    
}


/* Classes for performant images */
.aspect-ratio-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.aspect-ratio-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aspect-ratio-3x4 {
    padding-bottom: 133.33%; /* 3/4 ratio */
}

.aspect-ratio-4x5 {
    padding-bottom: 125%; /* 4/5 ratio */
}

.aspect-ratio-2x3 {
    padding-bottom: 150%; /* 2/3 ratio */
}

.aspect-ratio-1x1 {
    padding-bottom: 100%; /* 1/1 ratio */
}


/* CAROUSEL.CSS
  -------------------------------------------------- */

body {
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    /* color: rgb(var(--bs-tertiary-color-rgb)); */
  }
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  /* PRICING.CSS
  -------------------------------------------------- */

  body {
    /* background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg)); */
  }
  
  .container {
    /* max-width: 960px; */
  }
  
  .pricing-header {
    max-width: 700px;
  }
  

/* SING-IN.CSS */

/* html,
body {
  height: 100%;
} */

.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  /* HEADERS.CSS */
  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  /* .text-small {
    font-size: 85%;
  } */
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  

  /* FEATURES.CSS */
  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
  